corpus/parallel[[:space:]]corpus/eng/11e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/22e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/63e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/76e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/87e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/100e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/25e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/28e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/36e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/46e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/73e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/19e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/23e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/29e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/30e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/54e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/93e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/98e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/2e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/53e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/74e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/78e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/59e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/14e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/15e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/24e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/26e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/43e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/52e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/58e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/62e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/6e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/97e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/9e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/1e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/39e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/55e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/61e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/66e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/75e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/95e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/18e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/32e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/33e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/38e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/82e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/13e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/41e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/47e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/51e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/70e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/77e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/80e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/21e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/60e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/89e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/90e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/92e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/88e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/50e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/57e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/65e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/72e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/81e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/85e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/86e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/16e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/94e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/10e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/31e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/56e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/7e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/91e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/3e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/5e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/64e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/83e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/84e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/99e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/35e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/67e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/79e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/96e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/12e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/27e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/37e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/42e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/49e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/4e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/69e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/17e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/34e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/48e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/68e.txt filter=lfs diff=lfs merge=lfs -text
fine-tuning/fine-tuned[[:space:]]traineddata/sin.traineddata filter=lfs diff=lfs merge=lfs -text
fine-tuning/fine-tuned[[:space:]]traineddata/tam.traineddata filter=lfs diff=lfs merge=lfs -text
fine-tuning/fine-tuned[[:space:]]traineddata/eng.traineddata filter=lfs diff=lfs merge=lfs -text
