corpus/parallel[[:space:]]corpus/eng/77e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/25s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/15t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/43t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/88t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/89t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/91t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/14e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/11t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/21t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/38t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/86t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/12e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/100s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/14t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/55t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/60t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/77t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/31e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/61t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/10e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/34e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/98e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/34s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/19t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/93t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/24t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/63t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/19e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/32e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/66e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/68e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/38s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/44s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/65t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/94t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/5t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/64t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/28e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/35e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/37e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/80s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/92s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/52t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/22e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/46e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/27s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/81s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/13e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/49e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/95s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/42e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/18s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/33s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/87e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/15s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/1s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/75s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/90s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/26t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/36e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/12s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/46s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/76s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/69t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/76t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/85e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/20s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/62s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/31s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/3s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/25e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/63e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/64e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/90e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/14s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/23s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/2t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/84e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/99e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/19s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/23e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/79e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/86e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/9e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/60s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/1t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/48e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/55s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/56s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/67e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/66t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/70t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/16t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/58s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/33e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/17s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/99s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/68t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/27e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/62e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/89e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/24s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/63s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/61s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/13t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/15e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/41e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/65e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/7e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/30s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/42s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/54e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/92e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/32s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/73s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/38e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/57e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/97e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/45s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/10t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/85t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/1e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/43e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/94e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/97s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/79t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/53e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/37s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/70s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/51t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/11e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/77s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/84t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/90t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/60e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/49s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/74s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/87s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/46t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/57t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/51e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/53t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/95t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/21e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/81e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/28t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/74t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/78t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/16s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/47s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/20t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/44t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/29t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/54t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/75t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/22s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/68s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/83s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/9s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/22t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/58t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/62t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/72t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/24e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/58e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/70e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/78e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/80e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/34t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/7t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/81t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/93e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/7s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/33t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/56t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/6t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/73t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/74e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/99t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/82s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/84s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/32t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/47t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/49t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/16e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/83e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/13s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/35s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/36t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/42t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/50e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/69e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/6e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/17t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/17e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/39e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/91e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/41s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/88s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/89s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/56e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/6s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/5e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/54s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/48t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/26e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/55e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/51s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/5s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/25t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/83t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/100e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/36s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/94s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/18t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/31t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/87t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/67t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/73e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/75e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/96e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/10s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/69s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/41t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/96t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/47e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/61e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/82e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/48s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/85s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/37t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/72e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/88e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/29s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/39s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/98s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/98t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/26s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/43s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/30t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/35t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/82t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/12t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/23t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/39t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/9t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/59s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/64s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/100t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/4t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/97t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/21s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/28s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/45t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/93s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/40t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/80t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/57s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/86s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/27t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/3t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/52e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/11s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/91s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/59t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/2e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/4e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/59e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/2s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/4s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/53s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/78s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/96s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/29e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/3e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/76e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/50s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/92t.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/18e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/30e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/eng/95e.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/52s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/sin/79s.txt filter=lfs diff=lfs merge=lfs -text
corpus/parallel[[:space:]]corpus/tam/50t.txt filter=lfs diff=lfs merge=lfs -text
fine-tuning/fine-tuned[[:space:]]traineddata/sin.traineddata filter=lfs diff=lfs merge=lfs -text
fine-tuning/fine-tuned[[:space:]]traineddata/tam.traineddata filter=lfs diff=lfs merge=lfs -text
fine-tuning/fine-tuned[[:space:]]traineddata/eng.traineddata filter=lfs diff=lfs merge=lfs -text
